.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 20px; /* Khoảng cách giữa các phần tử */
    flex-wrap: wrap; /* Cho phép xuống hàng khi không đủ chỗ */

    .introduce {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 500px;

        strong {
            font-size: 36px;
            padding: 5px;
        }

        p {
            font-size: 16px;
            padding: 10px;
        }
    }

    .banner {
        flex: 1;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
        gap: 10px;

        .introduce {
            strong {
                font-size: 28px;
            }

            p {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 480px) {
    .introduce {
        padding: 10px;
        strong {
            font-size: 24px;
        }

        p {
            font-size: 12px;
        }
    }
}
